.a{
    background-color: blueviolet;
    width: 300px;
    height: 120px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 150px;
}
img{
    margin-top: 69px;
    border-radius: 50%;
}
.b{
    width: 300px;
    height: 380px;
        background-color: rgb(210, 199, 186);
    border-bottom-right-radius: 40px;
  

}
 h2{ 
    font-size:15px ;
    

}
h4{
    font-size: smaller;

}
p{

    font-style:inherit;
    font-size: x-small;
    padding-left: 75px;
    
    
    
}
h3{
    font-size: smaller;
    padding-right: 250px;

}
h4{
    padding-right: 200px;
}
h5{
    font-size: x-small;
}
body{
    color: red;
}
ul{
    font-size: x-small;
    padding-right: 30px;
    font-style: bold;
}
